*.class

# Package Files #
*.jar
*.war
*.ear
/prototypes/prototype1/nbproject/private/
/prototypes/prototype1/build/
/SI-DatabaseResquests/nbproject/private/
*/bin/
*/dao.properties
SI-Dokumentation/*aux
SI-Dokumentation/*acn
SI-Dokumentation/*bcf
SI-Dokumentation/*glo
SI-Dokumentation/*ist
SI-Dokumentation/*log
SI-Dokumentation/*out
SI-Dokumentation/*pdf
SI-Dokumentation/*run.xml
SI-Dokumentation/*thm
SI-Dokumentation/*toc
*aux
